 
 
<h4 style='margin-bottom:30px'>Editing Meeting...</h4>

<%= render 'form' %>


<%= link_to 'Show', club_meeting_path(params[:club_id],@meeting) %> |
<%= link_to 'Back', club_meetings_path(params[:club_id]) %>
