<h2>GroupBuilder Product Roadmap for 2013</h2>

<p> In order to help our customers plan and to give the maximum amount of visibility into GroupBuilder's future, the following product roadmap is provided. Please note that all timelines are tentative and subject to change. </p>


<table>
	<tr>
		<th>Feature</th><th>Anticipated Delivery</th>
	</tr>

	<tr>
		<td>Enable customer payment for GroupBuilder via credit card and potentially PayPay.</td><td>Q1 2013</td>
	</tr>
	


	<tr>
		<td>Achievement Tracking</td><td>Q1/Q2 2013</td>
	</tr>
	



	<tr>
		<td>Built-in email distribution lists</td><td>Q2 2013</td>
	</tr>
	

	<tr>
		<td>Public-facing club websites populated from internal club data.</td><td>Q2/Q3 2013</td>
	</tr>

	<tr>
		<td>Prospective member tracking/followup.</td><td>Q3/Q4 2013</td>
	</tr>	

	<tr>
		<td>Member interest/development planner.</td><td>Q3/Q4 2013</td>
	</tr>

	<tr>
		<td>Multiple-club leadership view. Allows leaders above club-level access to organizational goal status information.</td><td>Q3/Q4 2013</td>
	</tr>


</table>

