<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_club_member_assignment_path(params[:club_id],@member,assignment) %> |
<%= link_to 'Back', club_member_assignments_path(params[:club_id],@member) %>
