

<h4>Introduction to Creating Agendas</h4>

<table style='background-color:whitesmoke;width:500px'>
	<tr>
		<td colspan='2' style='background-color:whitesmoke' >
			<p>
			You <em>define</em> an agenda by creating an <em>agenda definition</em>.
			When you create an agenda definition, you supply both a <em>name</em> and a <em>description</em> of 
			what the agenda is used for.
			</p>
			<p>
				Once defined, an agenda is then developed further by creating additional sections, each "linked" to the agenda definition.

			</p>
		</td>

	</tr>


	<tr>
		<td style='background-color:whitesmoke'>
			<p >

			GroupBuilder agendas have three distinct "sections".

			<ul>
				<li>the <strong>top</strong> section </li>
				<li>the <strong>line items</strong> section </li>
				<li>the <strong>bottom</strong> section </li>
			</ul>
			</p>
		</td>
		<td style='background-color:whitesmoke'>

		<%= image_tag "AgendaImage.png" , :alt => 'Sample image of an agenda layout.' %>
		</td>


	</tr>

<tr>
	<td colspan="2" style='background-color:whitesmoke'>
<p >

	The <em>line items section</em> contains one or more "line items". Typically a "line-item" is used to represent somebody speaking or some activity happening at a meeting.

</p>
	</td>
</tr>

</table>

