
<h2 style='padding-bottom:0px'>Agenda Type:<em> <%= @agenda_definition.name %></em></h2>
 


<%= render 'form' %>

<%= link_to 'Show', club_agenda_definition_path(@agenda_definition) %> |
<%= link_to 'Back', club_agenda_definitions_path(params[:clubs]) %>
