<p id="notice"><%= notice %></p>

 

<p>
  <b>Role description:</b>
  <%= @contest_signup.role_description %>
</p>

 


<%= link_to 'Edit', edit_contest_signup_path(@contest_signup) %> |
<%= link_to 'Back', contest_signups_path %>
