
<h4>Updating Account Information...</h4>

<div class='container' >
 
	<br>
	<% if  notice %>
		<div class="alert-box success" >
			<%= notice %> 
		</div>
		
	<% end %>

	<p>
	  <%= 'Email Address' %><br>
	  <%=  @user.email %><br>
	</p>
	
 
</div>
 

