 

<div style=' ;width:800px;padding-left:20px'>

	<h4>Updates to GroupBuilder</h4>
	<br/><br/>

	<div style='font-size:10pt;font-weight:200; '>


	<ul>
		<li> 06/13/2012 - Version 0.5.1 - Fixed a runtime error in the multiple signup code.</li>

		<li> 06/12/2012 - Version 0.5.0 - Signup for Roles supports users belonging to multiple groups.</li>	
	 
		<li> 06/10/2012 - Version 0.4.5 - </li>	
		<ul>
			<li>Support for a user belonging to multiple clubs and the system has them select which club they're logging in as.</li>
			<li>Added "all users" report to management menu</li>
		</ul>

		<li> 06/10/2012 - Version 0.4.0 - </li>	
		<ul>
			<li>New theme</li>
			<li>Schedule conflicts now appear in a popup dialog.</li>
			<li>Changed of GroupBuilder</li>
		</ul>

		<li> 06/09/2012 - Version 0.3.5 - fixed printing meeting notes. Private notes we prining all private notes for the meeting, not just those of the logged in user.. </li>

		<li> 06/08/2012 - Version 0.3.4 - fixed new note - was not retaining 'private' flag. </li>

		<li> 06/08/2012 - Version 0.3.3 - fixed new lines in notes. </li>

		<li> 06/08/2012 - Version 0.3.2 - fixed bug in creating new note. </li>

		<li> 06/08/2012 - Version 0.3.1 - Made text in Meeting Notes forms consistent in style with other edit forms. Corrected text in Submit Tag on submit Meeting Note. </li>

		<li> 06/08/2012 - Version 0.3.0 - Added 'private' flag to meeting notes. Added meeting notes Print Setup page to select public and or private notes. </li>

		<li> 06/07/2012 - Version 0.2.0 - Add ability to create "notes" under a meeting and to display the note for the next meeting. </li>

		<li> 06/03/2012 - Version 0.1.0 - On the page 'Sign Up For A Role', the following changes were made: 
			<ul>
				<li>Bug fix: When "Available or Filled" assignments were selected for Roles which had been grouped into "role groups", the
					page did not display any assignments at all. (Thanks for reporting, Srdjan!)</li>
				<li>Feature: Prior to this change, there was no visibility into roles you'd already signed up for. It was very possible to sign up for a role when you already had another role in that same meeting. This change displays the description of any roles you've already signed up for on that day. The roles are displayed next to the checkbox.
				</li>	
			</ul>
		</li>
	</ul>


	</div>

</div>


 
