

<div style='padding-left:50px'>


	<h4>Editing Role...</h4>

	<%= render 'form' %>

	<%= link_to 'Show', club_role_path(params[:club_id],@role) %> |
	<%= link_to 'Back', club_roles_path(params[:club_id]) %>


</div>
