<div style='width:550px;    text-align:center'>
   
 

 

 



	<table>
	  <thead>
	  <tr>
	     
	     <th>Club Name</th>
		</tr>
	  </thead>

	<tbody>

	 
	<% @clubs.each do |club| %>
	  <tr>
	  		
			<td><%= club.name  %></td>
			 


			 
			 
	  </tr>
	<% end %>
	</tbody>
	</table>

	<br />

</div>
