<!-- container -->

<!-- <footer>

  <div style='text-align:center' >
   
       
         
        <p class="copyright">Copyright © 2012 Joseph Meirow. All Rights Reserved.</p>
      
   
  </div>

</footer> -->
<!-- end container -->
