<!-- container -->
<div class="container" id="header">
  <div class="row">
    <div class="three columns" id="logo">
      <h1>Your Logo</h1>
    </div>
    <div class="five columns offset-by-three">
      <ul class="nav-bar">
        <li><a href="/railsthemes/landing">Sample Landing</a></li>
        <li><a href="/railsthemes/inner">Sample Interior</a></li>
        <li><a href="/railsthemes/jquery_ui">jQuery UI</a></li>
      </ul>
    </div>
    <div class="four columns text-center">
      <a href="#" title="" class="button-custom"><span>Important Notifications</span></a>
    </div>
  </div>
</div>
<!-- end container -->
