<!-- container -->
<div class="container" id="footer">
  <div class="row">
    <div class="two columns">
      <h4>Company Name</h4>
      <p><a href="mailto:info@company.com">info@company.com</a><br />123.456.7890</p>
      <a class="button-custom" href="#">Map It</a>
    </div>
    <div class="four columns">
      <h4>Text Two</h4>
      <p>Text block for column two to
        share more about the organization
        and what it’s all about. Text block
        for column two to share more about
        the organization and what it’s
        all about.</p>
    </div>
    <div class="five columns text-right">
      <ul class="nav-bar">
        <li><a href="#" title="">About</a></li>
        <li><a href="#" title="">Locations</a></li>
        <li><a href="#" title="">Services</a></li>
        <li><a href="#" title="">Benefits</a></li>
        <li><a href="#" title="">Contact</a></li>
      </ul>
      <a href="#" title="" class="button-custom"><span>Important Notifications</span></a>
      <p class="copyright">Copyright © 2012 Company Name. All Rights Reserved.</p>
    </div>
  </div>
</div>
<!-- end container -->
